h1{
    text-align: center;
}

button{
    font-size: 20px;
}

p{
    text-align: right;
}

#calc{
    justify-content: center;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 70px 80px 80px 80px 80px 80px 80px;
    gap: 10px;
    grid-template-areas: 
        "rst rst rst rst"
        "ac ac submit submit"
        "seven eight nine division"
        "four five six multi"
        "one two three sub"
        "zero zero dot add"
        "p p p p";
}

#result {grid-area: rst;}
#zero {grid-area: zero;}
#one {grid-area: one;}
#two {grid-area: two;}
#three {grid-area: three;}
#four {grid-area: four;}
#five {grid-area: five;}
#six {grid-area: six;}
#seven {grid-area: seven;}
#eight {grid-area: eight;}
#nine {grid-area: nine;}
#add {grid-area: add;}
#sub {grid-area: sub;}
#division {grid-area: division;}
#multi {grid-area: multi;}
#dot {grid-area: dot;}
#ac {grid-area: ac;}
#submit {grid-area: submit;}
#author {grid-area: p;}

#result{
    border: 1px solid #424242;
    text-align: right;
    padding-right: 10px;
    line-height: 65px;
    font-size: 20px;
}
